

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}



.help-container {
    padding: 20px;
    border: solid;
    height: 230px;
}

.outer {
    width: 100%;
    text-align: center;
  }
  
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}